
html {
  background-color: #d3f5fb;
}

body {
  font-family: "Regular Brush", sans-serif;
  height: 73vh;
  width: 80%;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slogan {
  height: 10vh;
  width: 100vw;
  background-image: url('../../../assets/images/BackgroundFrench.png');
  background-size: 30%;
  background-position: center;
}

.inconnu {
  height: 15vh;
  width: 100%;
  border: 1px solid grey;
  padding: 10px;
}

.modele {
  height: 15vh;
  width: 100%;
  border: 1px solid grey;
  padding: 15px;
}

.objectif {
  height: 17.5vh;
  border: 1px solid grey;
  padding: 15px;
}

.presentation {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 35vh;
  width: 50%;
  border: 1px solid grey;
  padding: 20px;
}

.text {
  padding: 20px;
}

.voltaire {
  height: 17.5vh;
  border: 1px solid grey;
  padding: 15px;
}

.contenu {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.groupe {
  height: 35vh;
  width: 50%;
}
