<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenue</title>
</head>
<body>

  <div class="slogan">
  </div>

  <div class="inconnu">
    <u><p>INCONNU</p></u>
  </div>

  <div class="modele">
    <u><p>MODELE</p></u>
  </div>

  <div class="contenu">
    <div class="groupe">

      <div class="objectifs">
        <u><p>OBJECTIF</p></u>
      </div>

      <div class="voltaire">
        <u><p>VOLTAIRE</p></u>
      </div>

    </div>

    <div class="presentation">
      <u><p>PRESENTATION</p></u>
    </div>
  </div>

</body>
</html>
