<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bienvenue</title>
</head>
<body>

  <div class="slogan">
  </div>

  <div class="inconnu">
    <u><p>INCONNU</p></u>
  </div>

  <div class="modele">
    <u><p>MODELE</p></u>
  </div>

  <div class="contenu">
    <div class="groupe">

      <div class="objectif">
        <u><p>OBJECTIF</p></u>
      </div>

      <div class="voltaire">
        <u><p>VOLTAIRE</p></u>
      </div>

    </div>

    <div class="presentation">  <!-- Problématique esthétique par rapport à l'alignement du texte et de l'image ; soit l'ensemble est trop haut soit il est au milieu et semble petit. Probable problème de taille.-->

      <div class="avatar">
        <u><p>PRESENTATION</p></u>
        <img src="../../../assets/images/TestAvatar.jpg" class="rounded-3" style="width: 150px;" alt="Avatar" />
      </div>

      <div class="text">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quisquam unde nesciunt eos aliquam officia molestiae obcaecati rem nam cum totam maiores atque inventore! Libero doloremque pariatur adipisci possimus officiis!</p>
      </div>

    </div>
  </div>

</body>
</html>
