header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
  background-color: #d3f5fb;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
  background-color: #d3f5fb;
}
