<div class="main">

  <div class="contenu">

    <div class="legal">
      <span style="font-size: 14px"><b>Demande à Lulu.</b></span> 
      <span style="font-size: 12px">Cours de Français Langue Étrangère en ligne.</span> 
      <span style="font-size: 12px">French language courses online.</span> 
      <span style="font-size: 12px">Depuis 2023 ©</span>
    </div>

    <div class="contact">

          <a style="color: #3b5998;" href="#!" role="button" class="icone">
            <i class="fab fa-facebook fa-3x"></i>
          </a>

          <a style="color: #ac2bac;" href="#!" role="button" class="icone">
            <i class="fab fa-instagram fa-3x"></i>
          </a>

          <a style="color: #0082ca;" href="#!" role="button" class="icone">
            <i class="fab fa-linkedin-in fa-3x"></i>
          </a>

        <a style="color: #ced7ec;" href="#!" role="button" class="icone">
          <i class="fas fa-envelope fa-3x"></i>
        </a>

        <a style="color: #455578;" href="#!" role="button">
          <i class="fas fa-voicemail fa-3x"></i>
        </a>

    </div>  

  </div>

</div>
