<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>

  <div class="sommaire">
    <h1> Bienvenue dans Ma Librairie </h1>
      <p class="lead">
        Pour visiter, c'est par là ...
      </p>
  </div>

  <div class="options">

    <ul>
      <li><i><a routerLink="/liste-auteur">Pour découvrir nos créateurs d'univers ...</a></i></li>
    </ul>
    <ul>
      <li><i><a routerLink="/liste-livre">Pour découvrir les univers disponibles ...</a></i></li>
    </ul>
    <ul>
      <li><i><a routerLink="/livres-disponibles">Pour emporter un univers chez vous ...</a></i></li>
    </ul>

    <div class="citation">
      <figure class="text-end">
        <blockquote class="blockquote">
          <p><i>L'univers est un immense livre.</i></p>
        </blockquote>
        <figcaption class="blockquote-footer">
          Mohyddin Inb Arabi
        </figcaption>
      </figure>
    </div>

  </div>

</body>
</html>
